################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample/FormsGallery/Client/PASample/PASample/bin/Debug
/Sample/FormsGallery/Client/PASample/PASample/obj/Debug
/Sample/FormsGallery/Client/PASample/PASample.Android/obj/Debug
/Sample/FormsGallery/packages
/Sample/FormsGallery/WorkBench/WorkbenchSample/obj/Debug
/Sample/FormsGallery/Client/PASample/PASample.iOS/obj
/Sample/FormsGallery/Client/PASample/PASample.Android/obj/Release
/Sample/FormsGallery/Client/PASample/PASample/obj
/Sample/FormsGallery/Components/black-leather-theme-1.4
/Sample/FormsGallery/Components/black-leather-theme-1.4.info
/Sample/FormsGallery/Components/black-leather-theme-1.4.png
/Sample/FormsGallery/WorkBench/WorkbenchSample/obj/Release
