################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample/FormsGallery/Client/PASample/PASample/bin/Debug
/Sample/FormsGallery/Client/PASample/PASample/obj/Debug
/Sample/FormsGallery/Client/PASample/PASample.Android/obj/Debug
/Sample/FormsGallery/WorkBench/WorkbenchSample/obj/Debug
/Sample/FormsGallery/Client/PASample/PASample.iOS/obj
/Sample/FormsGallery/Client/PASample/PASample.Android/obj/Release
/Sample/FormsGallery/Client/PASample/PASample/obj
/Sample/FormsGallery/WorkBench/WorkbenchSample/obj/Release
/Sample/FormsGallery/*/bin/
/Sample/FormsGallery/packages
/Sample/FormsGallery/*/obj/
*.suo
*.user
[Dd]ebug/
[Rr]elease/
/[Aa]d-[Hh]oc/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds